--
-- PostgreSQL database dump
--

\restrict 30b2IHkvKv0z8s0pUZNmuvJMKT6epdpV5zb8PKusrdx6kEBXUzWHG6S5q3X6miT

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: empleados; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.empleados (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    rut character varying(50) NOT NULL,
    cargo character varying(255) NOT NULL,
    turno character varying(255) NOT NULL,
    telefono character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    fecha_inicio_contrato date NOT NULL,
    activo boolean NOT NULL,
    usuario_id bigint
);


ALTER TABLE public.empleados OWNER TO admin;

--
-- Name: empleados_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.empleados_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.empleados_id_seq OWNER TO admin;

--
-- Name: empleados_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.empleados_id_seq OWNED BY public.empleados.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO admin;

--
-- Name: empleados id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.empleados ALTER COLUMN id SET DEFAULT nextval('public.empleados_id_seq'::regclass);


--
-- Data for Name: empleados; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.empleados (id, nombre, rut, cargo, turno, telefono, email, fecha_inicio_contrato, activo, usuario_id) FROM stdin;
1	Mar├¡a Gonz├ílez	17654321-9	Cajera	MANANA	987654321	maria.gonzalez@gmail.com	2026-05-17	t	\N
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.flyway_schema_history (installed_rank, version, description, type, script, checksum, installed_by, installed_on, execution_time, success) FROM stdin;
1	1	create empleados table	SQL	V1__create_empleados_table.sql	2088665490	admin	2026-05-17 20:13:15.170665	118	t
\.


--
-- Name: empleados_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.empleados_id_seq', 1, true);


--
-- Name: empleados empleados_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.empleados
    ADD CONSTRAINT empleados_pkey PRIMARY KEY (id);


--
-- Name: empleados empleados_rut_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.empleados
    ADD CONSTRAINT empleados_rut_key UNIQUE (rut);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- PostgreSQL database dump complete
--

\unrestrict 30b2IHkvKv0z8s0pUZNmuvJMKT6epdpV5zb8PKusrdx6kEBXUzWHG6S5q3X6miT

