--
-- PostgreSQL database dump
--

\restrict g1HvcBE1KGHnkOTOaBJmwGz3b6BXpmEdQPZl7YMpodt8AYdOGWH5RmrBRV6Drs9

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO admin;

--
-- Name: ventas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.ventas (
    id_venta bigint NOT NULL,
    fecha_venta timestamp without time zone NOT NULL,
    sub_total numeric(12,2) NOT NULL,
    descuento_total numeric(12,2) NOT NULL,
    impuesto_total numeric(12,2) NOT NULL,
    total numeric(12,2) NOT NULL,
    metodo_pago character varying(30) NOT NULL,
    tipo_comprobante character varying(20) NOT NULL,
    monto_pagado numeric(12,2) NOT NULL,
    vuelto numeric(12,2) NOT NULL,
    estado_venta character varying(20) NOT NULL,
    cliente_id bigint,
    empleado_id bigint NOT NULL,
    numero_comprobante character varying(50) NOT NULL,
    observaciones character varying(500)
);


ALTER TABLE public.ventas OWNER TO admin;

--
-- Name: ventas_id_venta_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.ventas_id_venta_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ventas_id_venta_seq OWNER TO admin;

--
-- Name: ventas_id_venta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.ventas_id_venta_seq OWNED BY public.ventas.id_venta;


--
-- Name: ventas id_venta; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ventas ALTER COLUMN id_venta SET DEFAULT nextval('public.ventas_id_venta_seq'::regclass);


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.flyway_schema_history (installed_rank, version, description, type, script, checksum, installed_by, installed_on, execution_time, success) FROM stdin;
1	1	create table ventas	SQL	V1__create_table_ventas.sql	-426792976	admin	2026-05-17 20:13:13.757408	74	t
\.


--
-- Data for Name: ventas; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: ventas_id_venta_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.ventas_id_venta_seq', 8, true);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: ventas ventas_numero_comprobante_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_numero_comprobante_key UNIQUE (numero_comprobante);


--
-- Name: ventas ventas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_pkey PRIMARY KEY (id_venta);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- PostgreSQL database dump complete
--

\unrestrict g1HvcBE1KGHnkOTOaBJmwGz3b6BXpmEdQPZl7YMpodt8AYdOGWH5RmrBRV6Drs9

